recordcount={{ recordcount }}
operationcount={{ operationcount }}
db.driver=com.mysql.jdbc.Driver
db.url=jdbc:mysql://{{ groups['ec2mysql'][0] }}:3306/ycsb?useSSL=false&useServerPrepStmts=true
db.user={{ db_user }}
db.passwd={{ db_pass }}

ami={{ mysql_ami }}

{% if large_document is defined %}
fieldcount = 100
fieldlength = 200
{% endif %}

{% if complex is defined %}
fieldcount = 100
{% else %}
document_depth = 0
{% endif %}

{% if select_one is defined %}
fieldcount = 100
select_one_field = true
select_field_path = '$.FIELD100'
select_all_fields = false
{% endif %}

{% if select_slice is defined %}
fieldcount = 100
select_one_field = true
select_field_path = '$.FIELD2', '$.FIELD3', '$.FIELD4', '$.FIELD5', '$.FIELD6', '$.FIELD7', '$.FIELD8', '$.FIELD9', '$.FIELD10'
select_all_fields = false
{% endif %}

{% if update_one is defined %}
update_one_field = true
update_field = $.FIELD1
update_all_fields = false
{% endif %}

{% if update_all is defined %}
update_one_field = false
update_all_fields = true
{% endif %}
