recordcount={{ recordcount }}
operationcount={{ operationcount }}
db.driver=org.postgresql.Driver
db.url=jdbc:postgresql://{{ groups['ec2postgresql'][0] }}:5432/ycsb
db.user={{ db_user }}
db.passwd={{ db_pass }}

{% if nested is defined %}
flat_key = false
nested_key = true
depth = 10
{% endif %}

{% if field_index is defined %}
field_index = true
jsonb_path_ops_no_parse = false
jsonb_path_ops = false
{% endif %}

{% if separate_id is defined %}
flat_key = false
separate_id = true
field_index = false
jsonb_path_ops_no_parse = false
jsonb_path_ops = false
{% endif %}

{% if jsonb_path_ops is defined %}
jsonb_path_ops = true
jsonb_path_ops_no_parse = false
field_index = false
{% endif %}

{% if jsonb_path_ops_no_parse is defined %}
jsonb_path_ops_no_parse = true
jsonb_path_ops = false
field_index = false
{% endif %}

{% if large_document is defined %}
fieldcount = 100
fieldlength = 200
{% endif %}

{% if complex is defined %}
fieldcount = 100
{% else %}
document_depth = 0
{% endif %}

{% if select_one is defined %}
fieldcount = 100
select_one_field = true
select_field_path = 'FIELD100' 
select_all_fields = false
{% endif %}

{% if update_one is defined %}
update_one_field = true
update_field = "FIELD1"
update_all_fields = false
{% endif %}

{% if update_all is defined %}
update_one_field = false
update_all_fields = true
{% endif %}

{% if select_slice is defined %}
fieldcount = 100
select_one_field = true
select_field_path = 'FIELD2', data->>'FIELD3', data->>'FIELD4', data->>'FIELD5', data->>'FILED6', data->>'FIELD7', data->>'FIELD8', data->>'FIELD9', data->>'FIELD10' 
select_all_fields = false
{% endif %}

{% if custom_size is defined %}
fieldcount = {{ field_count or 100 }}
fieldlength = {{ field_length or 200 }}
{% endif %}
